iframe.waitwindowlocal {position:absolute; border:0px; z-index:9999;}
div.waitwindowlocal {position:absolute; border:0px; background: none;}
div.waitwindowlocalshadow {position:absolute; z-index:9998; background-image:url(images/shadow.gif); border:1px solid #808080;}
